@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,6000&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__minimalist-interior {
  margin-bottom: 81px;
}

.title {
  font-weight: 600;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4166666667;
  color: #333333;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.achievement {
  padding: 100px 0;
}

.achievement__body {
  margin-bottom: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.achievement__title {
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  position: relative;
}

.achievement__title::after {
  content: "";
  position: absolute;
  width: 464px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  top: 45%;
  left: 120%;
}

.design-interior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design-interior :not(:last-child) {
  margin-bottom: 40px;
}

.design-interior__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.design-interior__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 62.200407%;
          flex: 1 0 62.200407%;
  /* 746/1230 */
}

.design-interior__image img {
  max-width: 100%;
}

.design-interior__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27.990472%;
          flex: 0 1 27.990472%;
  /* 334/1230 */
}

.design-interior__title {
  margin-bottom: 20px;
}

.design-interior__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
  color: #9C9C9C;
}

.minimalist-interior__header {
  text-align: center;
  margin-bottom: 53px;
}

.minimalist-interior__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.3928571429;
  color: #000000;
  margin-bottom: 40px;
}

.minimalist-interior__sub-title {
  max-width: 518px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.6111111111;
  color: #000000;
}

.design-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -21px;
}

.design-process__body {
  padding: 0 21px;
}

.design-process__image {
  margin-bottom: 100px;
}

.design-process__image img {
  max-width: 100%;
}

.interior-design * {
  margin-bottom: 25px;
}

.interior-design :last-child {
  margin-bottom: 0;
}

.interior-design__title {
  margin-bottom: 25px;
}

.interior-design__wrapper-text {
  margin-bottom: 59px;
}

.interior-design__wrapper-text P {
  font-size: 18px;
  line-height: 1.6111111111;
  color: #9C9C9C;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: regular;
  max-width: 584px;
}

.interior-design__furnitur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 15px;
}

.interior-design__furnitur p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
  color: #9C9C9C;
}

.interior-photo__top-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.interior-photo__top-down :not(:last-child) {
  margin-bottom: 32px;
}

.interior-photo__top-down img {
  max-width: 100%;
}

.interior-photo__center:not(:last-child) {
  margin-bottom: 32px;
}

.interior-photo__center img {
  max-width: 100%;
}