@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6C757D;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page__designphilosophy {
  padding-top: 90px;
}

.page-exa-mple__designphilosophy {
  padding-top: 90px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
  position: relative;
  z-index: 3;
}

.logo::after {
  content: ".";
  color: #DDBEA9;
}

.logo_footer {
  color: #F8F9FA;
}

.title {
  font-weight: 700;
  line-height: 1.6;
  color: #F8F9FA;
}

.title_black {
  color: #212529;
}

.title_white {
  color: #F8F9FA;
}

.sub-title {
  font-weight: 500;
  line-height: 1.5625;
  color: #212529;
}

.active {
  border-bottom: 2px solid #DDBEA9;
  color: black;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  min-height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
}

.menu__link {
  position: relative;
  font-weight: 500;
  line-height: 1.6666666667;
  color: rgba(73, 80, 87, 0.5);
  display: inline-block;
  z-index: 2;
}

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.sub-menu__link {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 2.0833333333;
  color: rgba(248, 249, 250, 0.6);
}

.logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logged__sign-in button {
  width: 50px;
  position: relative;
  z-index: 3;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.0833333333;
  color: rgba(73, 80, 87, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logged__get-started {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.logged__get-started button {
  position: relative;
  z-index: 3;
  font-weight: 500;
  line-height: 2.0833333333;
  color: #F8F9FA;
  background: #DDBEA9;
  border-radius: 20px;
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: block;
}

.menu-burger {
  display: none;
}

.footer {
  background: #212529;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: rgba(229, 229, 229, 0.2);
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.menu-footer__link {
  line-height: 2.0833333333;
  color: rgba(248, 249, 250, 0.5);
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.designphilosophy__article {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.designphilosophy__content {
  position: relative;
  z-index: 1;
}

.designphilosophy__author {
  color: #e5e5e5;
  font-weight: 300;
}

.designphilosophy__author:not(:last-child) {
  margin-bottom: 15px;
}

.designphilosophy__title {
  max-width: 500px;
}

.designphilosophy__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.designphilosophy__background img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.topic-chooser__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.topic-chooser__left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 393px;
          flex: 0 1 393px;
}

.topic-chooser__item:not(:last-child) {
  margin-bottom: 10px;
}

.topic-chooser__link {
  display: inline-block;
  line-height: 2.0833333333;
  color: #495057;
}

.topic-chooser__link::before {
  content: "+";
  padding-right: 10px;
}

.topic-chooser__form-serch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.topic-chooser__form-serch input {
  font-size: 15;
  padding: 3px 5px 3px 5px;
}

.topic-chooser__form-serch input:focus {
  outline: 2px solid #DDBEA9;
  border-radius: 5px;
  color: grey;
}

.card-topic-chooser__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.card-topic-chooser__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-topic-chooser__img img {
  width: 100%;
}

.content-card-topic-chooser {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 393px;
          flex: 0 1 393px;
}

.content-card-topic-chooser__data {
  font-weight: 300;
  line-height: 1.25;
}

.content-card-topic-chooser__sub-title {
  display: inline-block;
}

.content-card-topic-chooser__text {
  position: relative;
}

.content-card-topic-chooser__text p {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6666666667;
  color: #6C757D;
}

.content-card-topic-chooser__text::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #E5E5E5;
  top: 100%;
}

.content-card-topic-chooser__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-card-topic-chooser__author,
.content-card-topic-chooser__like {
  font-weight: 300;
  line-height: 1.6666666667;
  color: #6C757D;
}

.content-card-topic-chooser__like {
  background: url("../img/item/heath.svg") 0 55% no-repeat;
  padding-left: 20px;
}

.next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.header__social-network {
  color: rgba(73, 80, 87, 0.5);
}

.social-network__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.social-network__serch img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.design__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.design__title {
  max-width: 393px;
}

.design__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.design__link {
  color: #C4C4C4;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.design__link.active {
  color: black;
}

.card-design__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-design__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.card-design__image {
  position: relative;
  padding-top: 63.613232%;
  /* 250/393 */
}

.card-design__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-design__data {
  font-weight: 300;
  line-height: 1.6666666667;
  color: #495057;
}

@media (min-width: 79.375em) {
  .page__topic-chooser {
    margin-bottom: 6.375rem;
  }

  .page-exa-mple__design {
    margin-bottom: 6.375rem;
  }

  .title {
    font-size: 1.5625rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .logged {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .logged__get-started button {
    font-size: 0.75rem;
  }

  .footer {
    padding-top: 6.25rem;
  }

  .footer {
    padding-bottom: 6.25rem;
  }

  .footer__top::before {
    margin-top: 2rem;
  }

  .footer__top:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .designphilosophy__article {
    min-height: 31.25rem;
  }

  .topic-chooser {
    padding-top: 6.25rem;
  }

  .topic-chooser__left-menu {
    row-gap: 1.875rem;
  }

  .card-topic-chooser__wrapper:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .card-topic-chooser__body {
    -webkit-column-gap: 1.9375rem;
       -moz-column-gap: 1.9375rem;
            column-gap: 1.9375rem;
  }

  .content-card-topic-chooser__data:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .content-card-topic-chooser__sub-title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .content-card-topic-chooser__text::before {
    margin-top: 0.75rem;
  }

  .content-card-topic-chooser__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .design {
    padding-top: 6.25rem;
  }

  .design__header {
    margin-bottom: 3.5rem;
  }

  .design__title {
    font-size: 1.5625rem;
  }

  .card-design__wrapper {
    row-gap: 2.5rem;
  }

  .card-design__body {
    row-gap: 1.875rem;
  }

  .card-design__data:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (min-width: 750.98px) {
  .menu__item_drop-down-menu {
    position: relative;
    background: url("../img/item/arrow.svg") right center no-repeat;
    padding-right: 15px;
    cursor: pointer;
  }

  .menu__item_drop-down-menu:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }

  .sub-menu {
    position: absolute;
    width: 136px;
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
    background: #212529;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, 15px);
        -ms-transform: translate(0, 15px);
            transform: translate(0, 15px);
    z-index: 5;
  }

  .sub-menu::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 50px;
    top: -20px;
    left: 0;
  }
}

@media (max-width: 885.98px) {
  .topic-chooser__title {
    font-size: 16px;
  }

  .card-topic-chooser__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-topic-chooser__img:not(:last-child) {
    margin-bottom: 15px;
  }

  .content-card-topic-chooser {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 750.98px) {
  .header__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background: #212529;
    padding: 90px 15px 20px 30px;
    -webkit-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    min-height: 60px;
    left: -100%;
    background-color: rgb(17, 12, 12);
    z-index: 5;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
    color: white;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    text-align: right;
  }

  .menu__link {
    font-size: 30px;
    color: white;
  }

  .sub-menu__link {
    margin-right: 20px;
  }

  .menu-burger {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }

  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    content: "";
    position: absolute;
    height: 1px;
    right: 0;
    width: 100%;
    background-color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .menu-open .menu-burger::before {
    top: 50%;
    background: white;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .menu-open .menu-burger::after {
    bottom: 50%;
    background: white;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }

  .menu-open .menu-burger span {
    width: 0;
    right: -50%;
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
  }

  .menu-burger span {
    top: 50%;
    margin-top: -0.5px;
  }
}

@media (max-width: 741.98px) {
  .design__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }

  .design__title {
    text-align: center;
  }

  .design__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 739.98px) {
  .card-design__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 704.98px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }

  .social-network {
    font-size: 15px;
  }
}

@media (max-width: 517.98px) {
  .topic-chooser__left-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 516.98px) {
  .topic-chooser__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-topic-chooser__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 464.98px) {
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
    font-size: 15px;
  }
}

@media (max-width: 457.98px) {
  .card-design__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 20em) {
  .page__topic-chooser {
    margin-bottom: 3.75rem;
  }

  .page-exa-mple__design {
    margin-bottom: 3.75rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .sub-title {
    font-size: 0.8125rem;
  }

  .logged {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .logged__get-started button {
    font-size: 0.625rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__top::before {
    margin-top: 0.9375rem;
  }

  .footer__top:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .designphilosophy__article {
    min-height: 9.375rem;
  }

  .topic-chooser {
    padding-top: 1.875rem;
  }

  .topic-chooser__left-menu {
    row-gap: 0.625rem;
  }

  .card-topic-chooser__wrapper:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .card-topic-chooser__body {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .content-card-topic-chooser__data:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .content-card-topic-chooser__sub-title:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .content-card-topic-chooser__text::before {
    margin-top: 0.3125rem;
  }

  .content-card-topic-chooser__text:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .design {
    padding-top: 1.875rem;
  }

  .design__header {
    margin-bottom: 1.875rem;
  }

  .design__title {
    font-size: 1.0625rem;
  }

  .card-design__wrapper {
    row-gap: 1.5625rem;
  }

  .card-design__body {
    row-gap: 0.625rem;
  }

  .card-design__data:not(:last-child) {
    margin-bottom: 0.4375rem;
  }
}

@media (min-width: 20em) and (max-width: 79.375em) {
@supports (margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem )) {
    .page__topic-chooser {
      margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem )) {
    .page__topic-chooser {
      margin-bottom: calc(3.75rem + 2.625 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem )) {
    .page-exa-mple__design {
      margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.8657894737rem  +  4.4210526316vw , 6.375rem )) {
    .page-exa-mple__design {
      margin-bottom: calc(3.75rem + 2.625 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
    .title {
      font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
    .title {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem )) {
    .sub-title {
      font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7493421053rem  +  0.3157894737vw , 1rem )) {
    .sub-title {
      font-size: calc(0.8125rem + 0.1875 * (100vw - 20rem) / 59.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem ))) {
    .logged {
      -webkit-column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem );
         -moz-column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem );
              column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , 0.3092105263rem  +  1.5789473684vw , 1.5625rem ))) {
    .logged {
      -webkit-column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem )) {
    .logged__get-started button {
      font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5828947368rem  +  0.2105263158vw , 0.75rem )) {
    .logged__get-started button {
      font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem )) {
    .footer {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.4342105263rem  +  8.4210526316vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.5796052632rem  +  1.7894736842vw , 2rem )) {
    .footer__top::before {
      margin-top: clamp( 0.9375rem , 0.5796052632rem  +  1.7894736842vw , 2rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.5796052632rem  +  1.7894736842vw , 2rem )) {
    .footer__top::before {
      margin-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 2.8125rem , 2.2440789474rem  +  2.8421052632vw , 4.5rem )) {
    .footer__top:not(:last-child) {
      margin-bottom: clamp( 2.8125rem , 2.2440789474rem  +  2.8421052632vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 2.8125rem , 2.2440789474rem  +  2.8421052632vw , 4.5rem )) {
    .footer__top:not(:last-child) {
      margin-bottom: calc(2.8125rem + 1.6875 * (100vw - 20rem) / 59.375);
    }
}

@supports (min-height: clamp( 9.375rem , 2.0065789474rem  +  36.8421052632vw , 31.25rem )) {
    .designphilosophy__article {
      min-height: clamp( 9.375rem , 2.0065789474rem  +  36.8421052632vw , 31.25rem );
    }
}

@supports not (min-height: clamp( 9.375rem , 2.0065789474rem  +  36.8421052632vw , 31.25rem )) {
    .designphilosophy__article {
      min-height: calc(9.375rem + 21.875 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
    .topic-chooser {
      padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
    .topic-chooser {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .topic-chooser__left-menu {
      row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .topic-chooser__left-menu {
      row-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem )) {
    .card-topic-chooser__wrapper:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4078947368rem  +  4.2105263158vw , 3.75rem )) {
    .card-topic-chooser__wrapper:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 59.375);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem )) or (column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem ))) {
    .card-topic-chooser__body {
      -webkit-column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem );
         -moz-column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem );
              column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem )) or (column-gap: clamp( 0.625rem , 0.1828947368rem  +  2.2105263158vw , 1.9375rem ))) {
    .card-topic-chooser__body {
      -webkit-column-gap: calc(0.625rem + 1.3125 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.625rem + 1.3125 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.625rem + 1.3125 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem )) {
    .content-card-topic-chooser__data:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem )) {
    .content-card-topic-chooser__data:not(:last-child) {
      margin-bottom: calc(0.5rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem )) {
    .content-card-topic-chooser__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.3526315789rem  +  0.7368421053vw , 0.9375rem )) {
    .content-card-topic-chooser__sub-title:not(:last-child) {
      margin-bottom: calc(0.5rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-top: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .content-card-topic-chooser__text::before {
      margin-top: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem );
    }
}

@supports not (margin-top: clamp( 0.3125rem , 0.1651315789rem  +  0.7368421053vw , 0.75rem )) {
    .content-card-topic-chooser__text::before {
      margin-top: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.0368421053rem  +  2.3157894737vw , 1.875rem )) {
    .content-card-topic-chooser__text:not(:last-child) {
      margin-bottom: clamp( 0.5rem , 0.0368421053rem  +  2.3157894737vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.0368421053rem  +  2.3157894737vw , 1.875rem )) {
    .content-card-topic-chooser__text:not(:last-child) {
      margin-bottom: calc(0.5rem + 1.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
    .design {
      padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.4013157895rem  +  7.3684210526vw , 6.25rem )) {
    .design {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3276315789rem  +  2.7368421053vw , 3.5rem )) {
    .design__header {
      margin-bottom: clamp( 1.875rem , 1.3276315789rem  +  2.7368421053vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3276315789rem  +  2.7368421053vw , 3.5rem )) {
    .design__header {
      margin-bottom: calc(1.875rem + 1.625 * (100vw - 20rem) / 59.375);
    }
}

@supports (font-size: clamp( 1.0625rem , 0.8940789474rem  +  0.8421052632vw , 1.5625rem )) {
    .design__title {
      font-size: clamp( 1.0625rem , 0.8940789474rem  +  0.8421052632vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 0.8940789474rem  +  0.8421052632vw , 1.5625rem )) {
    .design__title {
      font-size: calc(1.0625rem + 0.5 * (100vw - 20rem) / 59.375);
    }
}

@supports (row-gap: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem )) {
    .card-design__wrapper {
      row-gap: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem );
    }
}

@supports not (row-gap: clamp( 1.5625rem , 1.2467105263rem  +  1.5789473684vw , 2.5rem )) {
    .card-design__wrapper {
      row-gap: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 59.375);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .card-design__body {
      row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.2039473684rem  +  2.1052631579vw , 1.875rem )) {
    .card-design__body {
      row-gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

@supports (margin-bottom: clamp( 0.4375rem , 0.2690789474rem  +  0.8421052632vw , 0.9375rem )) {
    .card-design__data:not(:last-child) {
      margin-bottom: clamp( 0.4375rem , 0.2690789474rem  +  0.8421052632vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.4375rem , 0.2690789474rem  +  0.8421052632vw , 0.9375rem )) {
    .card-design__data:not(:last-child) {
      margin-bottom: calc(0.4375rem + 0.5 * (100vw - 20rem) / 59.375);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover::before {
    width: 100%;
    right: 0;
  }

  .menu__link::before {
    content: "";
    position: absolute;
    width: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 2px;
    left: 0;
    top: 100%;
    background: #DDBEA9;
  }

  .sub-menu__link:hover {
    color: #F8F9FA;
  }

  .logged__sign-in button:hover {
    color: #495057;
  }

  .logged__get-started button:hover {
    background: #514237;
  }

  .design__link:hover {
    color: black;
  }
}